@font-face {
	font-family: 'Aristotelica';
	src: url('~/assets/fonts/Aristotelica-Display-SemiBold-Trial.ttf') format('opentype');
}

@font-face {
	font-family: 'Mulish';
	src: url('~/assets/fonts/Mulish.ttf') format('opentype');
}