<section class="header-section">
    <div class="container">
        <div class="header">
            <div class="header-text">
                <h1>
                    coda-test
                </h1>
                <h2>
                    El siguiente proyecto es un test de angular
                </h2>
                <p>
                    Se invirtieron un total de 9 horas en completar el challenge
                </p>
            </div>
            <a target="_blank" href="https://agencycoda.com/" class="coda-logo">
                <figure class="coda-svg"></figure>
            </a>
        </div>
    </div>
</section>
<section class="table-section">
    <div class="container">
        <app-client-table></app-client-table>
    </div>
</section>